
{% extends 'tempapp/base.html' %}
{% load static %}


{% block content%}

<table align="center" border="0">
        <tr>
            <th>
         <h5 style="color: black">THE GENERAL STORE RETAIL MANAGEMENT SYSTEM
Managing retail sales doesn’t have to be complicated. Our powerful and affordable retail management system is packed with the features and functionality retailers need to grow their business, both now and in the future. Our solution is backed by best-in-class support, equipping your business with the tools you need to gain an edge in a competitive retail market. Whether you’re a single location store or a multi-store chain retailer, our solutions have the scalability and capabilities to handle your needs. At The General Store, we believe that retailers in any industry should have access to cutting-edge software, at a price they can afford.</h5>
   </th>   <th>
            <img src="{% static 'image/image1.JPG' %}" width="600" height="500" >


            </th>
        </tr>
    </table>





{% endblock %}