<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% block base %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container navbar-brand">

    <h4>JAGDAMBA WHOLESALE</h4>


    <div >
         <ul class="navbar-nav ml-auto ">
        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">HOME </a></li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">ABOUT US </a></li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">REGISTRATION </a></li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">LOGIN </a></li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">PRODUCT </a></li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">LOGOUT </a></li>
        </ul>
    </div>

 </div>
</nav>



{% endblock %}


</body>
</html>